@model quiz_web.Models.Result

@{
    ViewBag.Title = "Qualify";
}

<h2>Qualify</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Result</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.grade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.grade)
            @Html.ValidationMessageFor(model => model.grade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.note)
            @Html.ValidationMessageFor(model => model.note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.test_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.test_id)
            @Html.ValidationMessageFor(model => model.test_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.student_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.student_id)
            @Html.ValidationMessageFor(model => model.student_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div class="span10 well">
    <div class="span5">
        <legend>Questions</legend>
        <ol>
        @foreach (var item3 in ViewBag.Questions)
        {
            <li><label><strong>@item3.coso</strong></label></li>
        }
        </ol>
    </div>
    <div class="span5">
        <legend>Answers</legend>
        <ol>         
        @foreach (var item2 in ViewBag.Answers)
        {
            <li><label>@item2.answer</label></li>
        }
        </ol>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
