<a class="brand" href="#">Quiz project</a>
<div class="group-menu nav-collapse">
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
    @if (Request.IsAuthenticated) {
        <li>
            @if (((((quiz_web.Models.LoginModel)(System.Web.HttpContext.Current.Session["usuario"])) != null)))
            {
                <ul class="nav pull-left bar-root">
                    if (((quiz_web.Models.log)(System.Web.HttpContext.Current.Session["usuario"])).role == "admin")
                    {
                            <li >@Html.ActionLink("Students","Index", "student")</li>
                            <li >@Html.ActionLink("Professors", "Index", "professor")</li>
                            <li >@Html.ActionLink("Course", "Index", "Course")</li>
                    }
                    if (((quiz_web.Models.log)(System.Web.HttpContext.Current.Session["usuario"])).role == "professor")
                    {
                            <li >@Html.ActionLink("Course", "Index", "Course")</li>
                    }
                    if (((quiz_web.Models.log)(System.Web.HttpContext.Current.Session["usuario"])).role == "student")
                    {
                            <li >@Html.ActionLink("Course", "Index", "Course")</li>
                    }
                </ul>
            }
            }
        </li>
    } else {
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    </ul>
</div>