@model quiz_web.Models.student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>student</legend>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.username)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.username)
    </p>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.email)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.email)
    </p>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.identification)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.identification)
    </p>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.name)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.name)
    </p>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.lastname)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </p>

    <p class="text-info">
         @Html.DisplayNameFor(model => model.password)
    </p>
    <p class="display-field">
        @Html.DisplayFor(model => model.password)
    </p>
</fieldset>
@using (Html.BeginForm()) {
<p id="puto">
@Html.HiddenFor(model => model.ID)
<input  class="btn btn-danger" type="submit" value="Delete" id="delete_student"/> |
@Html.ActionLink("Back to List", "Index")
</p>
}

