@model quiz_web.Models.Questions

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Questions</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.question)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.question)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.test_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.test_id)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
