@model IEnumerable<quiz_web.Models.Questions>

@{
    ViewBag.Title = "Test's questions";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Test's questions</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { testid = @ViewBag.testID },new { @class = "btn btn-success btn-mini" })
</p>
<table class ="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteQuestionTest", new { id=item.ID },new { @class = "btn btn-danger btn-mini" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Test","Index","Test",new { idCourse = @ViewBag.courseId },new { @class = "btn btn-success btn-mini" })
</p>
